<h1>Hollyweed</h1>
<form method="POST" action="/login">
    <br><br>
    <label>Username:</label>
    <input type="text" name="username" class="searchBar"><br><br>
     <label>Password:</label>
    <input type="password" name="password" class="searchBar"><br><br>
    <input type="submit" value="login" class="button">
</form>
<body>
</body>
