

<h1>Jot down your info<h2>
<form method="POST" action="/signup">
    <label>Username: </label> <input type="text" name="username" class="searchBar"><br><br>
    <label>Email: </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email" class="searchBar"><br><br>
    <label>Password: </label> &nbsp;<input type="password" name="password"><br>
    <input type="submit" value="create" class="button">
</form>
