<form method="POST" action="/posts">
    <label>Whats on your mind? </label><br><br>
    <input type="text" name="content" size="100" class="searchBar"><br><br>
    <input type="submit" value="Post" class="button"><br><br>
</form>
<style>
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: lime ;
}

/* selected link */
a:active {
  color: blue;
}
</style>
<a href="/posts/<%=@producer.username%>">Go to Profile</a>
