<div class="container">
  <%# <header><img src="25%resizd.jpg" class="img-responsive main-image"></header> %>
  <div class="col-md-8 col-md-offset-2">
    <style>
        /* unvisited link */
        a:link {
          color: red;
        }

        /* visited link */
        a:visited {
          color: yellow;
        }

        /* mouse over link */
        a:hover {
          color: lime;
        }

        /* selected link */
        a:active {
          color: blue;
        }
        </style>
      <h2 >Welcome Producers!!!</h2>
    <div class="content">
      <p  style="font-size:30px" >
      <a  href="/signup"> Sign up</a></p>
      <p  style="font-size:30px" ><a  href="/login">Login</a></p>

    </div>
    <img src="/images/Hollyweed.jpg" alt="rss feed" />


  </div>
</div>
